* {
    font-family: Montserrat;
    font-size: 16px;

    margin: 0;
    padding: 0;

    color: #333333;
}

header {
    width: calc(100vw - 20px);

    font-size: 30px;
    font-weight: bolder;

    padding: 20px;
    position: fixed;
    background-color: #FF4343;
    color: white;

    z-index: 1000;
}

.current_subtitle {
    font-weight: 700;
    color: inherit;
}

.current_status {
    line-height: 30px;
    font-size: 30px;
    color: inherit;

    margin: 5px 0 5px 0;
    padding-right: 20px;
}

.current_time_line {
    display: flex;
    flex-direction: row;
    color: inherit;
}

.current_time_name {
    margin-right: 5px;
    font-weight: 400;
    color: inherit;
}

.current_time {
    color: inherit;
    font-weight: 700;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-height: 100vh;
}

.container {
    padding: 20px;
}

.week {
    margin-top: 110px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
}

.day {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    margin: 0 60px 30px 0;
}

/* .day-header::before {
    display: block;
    content: '';
    height: 130px;
 
} */

.day-header {
    font-size: 22px;
    font-weight: bold;

    margin-bottom: 10px;
}

.lesson-line {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    margin: 10px 0 0 0;
}

.lesson-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.lesson-start-time {
    width: 50px;
}

.lesson-name {
    font-size: 18px;
    font-weight: bold;

    margin: 0 0 5px 0 ;
}

.footer-column {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.feadback-button {
    z-index: 1;

    font-weight: bold;

    padding: 10px 15px 10px 15px;
    margin-bottom: 20px;
    margin-right: 20px;

    border-radius: 30px;

    text-decoration: none;
    background-color: #FFF68D;

    color: #333333;
}

.feadback-button:hover {
    transform: scale(1.05);
    background-color: #f7e523;  
}

/* .day#day-monday {
    z-index: 5;
}

.day#day-tuesday {
    top: 500px;
    z-index: 4;
}

.day#day-wednesday {
    top: 950px;
    z-index: 3;
    background-color: #f7e523;
}

.day#day-thursday {
    top: 1500px;
    z-index: 2;
}

.day#day-friday {
    top: 2000px;
    z-index: 1;
} */

.day#day-friday::after {
    content: '';
    height: 300px;
}